bin/
obj/
.vs
/InterviewAPI/obj
/QuizAPI.API/bin/
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.API.dll
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.API.pdb
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.BLL.dll
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.BLL.pdb
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.DAL.dll
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.DAL.pdb
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.Domain.dll
/QuizAPI.API/bin/Debug/net8.0/QuizAPI.Domain.pdb
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.AssemblyInfo.cs
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.AssemblyInfoInputs.cache
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.assets.cache
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.csproj.AssemblyReference.cache
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.csproj.CoreCompileInputs.cache
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.csproj.FileListAbsolute.txt
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.dll
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.GeneratedMSBuildEditorConfig.editorconfig
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.genruntimeconfig.cache
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.MvcApplicationPartsAssemblyInfo.cs
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.pdb
/QuizAPI.API/obj/Debug/net8.0/QuizAPI.API.sourcelink.json
/QuizAPI.API/obj/Debug/net8.0/ref/QuizAPI.API.dll
/QuizAPI.API/obj/Debug/net8.0/refint/QuizAPI.API.dll
/QuizAPI.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.QuizAPI.API.props
/QuizAPI.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.QuizAPI.API.props
/QuizAPI.API/obj/project.assets.json
/QuizAPI.API/obj/project.nuget.cache
/QuizAPI.API/obj/QuizAPI.API.csproj.nuget.dgspec.json
/QuizAPI.API/obj/QuizAPI.API.csproj.nuget.g.props
/QuizAPI.API/obj/QuizAPI.API.csproj.nuget.g.targets
/QuizAPI.API/QuizAPI.API.csproj.user
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.BLL.dll
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.BLL.pdb
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.DAL.dll
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.DAL.pdb
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.Domain.dll
/QuizAPI.BLL/bin/Debug/net8.0/QuizAPI.Domain.pdb
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.AssemblyInfo.cs
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.AssemblyInfoInputs.cache
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.assets.cache
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.csproj.AssemblyReference.cache
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.csproj.CoreCompileInputs.cache
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.csproj.FileListAbsolute.txt
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.dll
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.GeneratedMSBuildEditorConfig.editorconfig
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.pdb
/QuizAPI.BLL/obj/Debug/net8.0/QuizAPI.BLL.sourcelink.json
/QuizAPI.BLL/obj/Debug/net8.0/ref/QuizAPI.BLL.dll
/QuizAPI.BLL/obj/Debug/net8.0/refint/QuizAPI.BLL.dll
/QuizAPI.BLL/obj/project.assets.json
/QuizAPI.BLL/obj/project.nuget.cache
/QuizAPI.BLL/obj/QuizAPI.BLL.csproj.nuget.dgspec.json
/QuizAPI.BLL/obj/QuizAPI.BLL.csproj.nuget.g.props
/QuizAPI.BLL/obj/QuizAPI.BLL.csproj.nuget.g.targets
/QuizAPI.DAL/bin/Debug/net8.0/QuizAPI.DAL.dll
/QuizAPI.DAL/bin/Debug/net8.0/QuizAPI.DAL.pdb
/QuizAPI.DAL/bin/Debug/net8.0/QuizAPI.Domain.dll
/QuizAPI.DAL/bin/Debug/net8.0/QuizAPI.Domain.pdb
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.AssemblyInfo.cs
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.AssemblyInfoInputs.cache
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.assets.cache
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.csproj.AssemblyReference.cache
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.csproj.CoreCompileInputs.cache
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.csproj.FileListAbsolute.txt
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.dll
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.GeneratedMSBuildEditorConfig.editorconfig
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.genruntimeconfig.cache
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.pdb
/QuizAPI.DAL/obj/Debug/net8.0/QuizAPI.DAL.sourcelink.json
/QuizAPI.DAL/obj/Debug/net8.0/ref/QuizAPI.DAL.dll
/QuizAPI.DAL/obj/Debug/net8.0/refint/QuizAPI.DAL.dll
/QuizAPI.DAL/obj/project.assets.json
/QuizAPI.DAL/obj/project.nuget.cache
/QuizAPI.DAL/obj/QuizAPI.DAL.csproj.nuget.dgspec.json
/QuizAPI.DAL/obj/QuizAPI.DAL.csproj.nuget.g.props
/QuizAPI.DAL/obj/QuizAPI.DAL.csproj.nuget.g.targets
/QuizAPI.Domain/bin/Debug/net8.0/QuizAPI.Domain.dll
/QuizAPI.Domain/bin/Debug/net8.0/QuizAPI.Domain.pdb
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.AssemblyInfo.cs
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.AssemblyInfoInputs.cache
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.assets.cache
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.csproj.AssemblyReference.cache
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.csproj.CoreCompileInputs.cache
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.csproj.FileListAbsolute.txt
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.dll
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.GeneratedMSBuildEditorConfig.editorconfig
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.pdb
/QuizAPI.Domain/obj/Debug/net8.0/QuizAPI.Domain.sourcelink.json
/QuizAPI.Domain/obj/Debug/net8.0/ref/QuizAPI.Domain.dll
/QuizAPI.Domain/obj/Debug/net8.0/refint/QuizAPI.Domain.dll
/QuizAPI.Domain/obj/project.assets.json
/QuizAPI.Domain/obj/project.nuget.cache
/QuizAPI.Domain/obj/QuizAPI.Domain.csproj.nuget.dgspec.json
/QuizAPI.Domain/obj/QuizAPI.Domain.csproj.nuget.g.props
/QuizAPI.Domain/obj/QuizAPI.Domain.csproj.nuget.g.targets
